*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP",sans-serif;
}
body{
    background: #fff;
    transition: 1s;
}
.dark-mode{
    background: #000;
    color: #fff;
}
.header{
    height: 220vh;
    width: 100%;
}
nav{
    display: flex;
    box-shadow: 0 0 6px 0px rgba(0,0,0,0.7);
    padding: 20px 0  10px;
    align-items: center;
}
.left-side{
    flex-basis: 30%;
    margin-left: 20px;
    display: flex;
    margin-bottom: 5px;
}
#menu{
    width: 25px;
    height: 20px;
}
.logo{
    width: 110px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.middle-section{
    display: flex;
    flex-basis: 30%;
}
.voice-search{
    width: 19px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.input-section{
    background: #fff;
    display: flex;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid gray;
    padding: 0 30px;
}
.input-section input{
    background: transparent;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
}
.input-section img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.right-side{
    flex-basis: 30%;
    display: flex;
    top: 20px;
    right: 30px;
    position: absolute;
}
.upload{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}
#jack{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
}
.content{
    display: flex;
    margin-top: 20px;
}
#left-content{
    flex-basis: 20%;
    top: 1%;
    left: 0;
    position:sticky;
    height: 100vh;
}
#main-content{
    flex-basis: 80%;
}
.cover-page{
    margin-right: 20px;
}
.row{
    display: flex;
    margin-top: 15px;
}
.col{
    flex-basis: 24%;
    margin-right: 15px;
    margin-bottom: 15px;
}
.thumbnail{
    width: 100%;
    border-radius: 5px;
}
.col-content{
    display: flex;
    margin-top: 5px;
}
.user{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.info{
    margin-left: 6px;
    display: block;
}
.info h4{
    font-size: 18px;
    font-weight: 600;
}
.info h5{
    font-size: 15px;
    font-weight: 300;
}
.info p{
    font-size: 15px;
    font-weight: 300;
}
#menu-cover{
    background: #ddd;
    height: 65vh;
    width: 300px;
    top: -520px;
    top: 12%;
    right: 0;
    position: absolute;
    transition: 1s;
}
.first-row{
    display: flex;
    justify-content: space-between;
}
.left-side-f{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}
.left-side-f img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.left-info{
    margin-left: 5px;
    display: block;
}
.first-row button{
    height: 33px;
    width: 74px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: #fff;
    margin-top: 15px;
}
button span{
    height: 31px;
    width: 31px;
    border-radius: 50%;
    background: gray;
    margin-left: 3px;
    display: block;
    transition: 0.5s;
}
.move span{
    margin-left: 39px;
}
.left-info small{
    color: rgb(2, 94, 86);
}
.underline{
    margin-top: 15px;
    width: 80%;
    margin-left: 30px;
}
.second-row{
    display: flex;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 8px;
}
.second-row img{
    width: 40px;
    height: 40px;
}
.second-info h4{
    font-size: 18px;
    font-weight: 600;
}
.second-info p{
    font-size: 15px;
}
.third-row{
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
}
.left-side-col{
    display: flex;
}
.setting{
    width: 40px;
    height: 40px;
}
.arrow{
    height: 20px;
    width: 15px;
    margin: 15px 6px;
}
.left-side-col p{
    margin: 13px 5px;
}
.skeleton{
    margin-top: -2px;
    margin-left: 15px;
}
.skeleton-text{
    background: gray;
    width: 190px;
    height: 8px;
    border-radius: 10px;
    margin-top: 15px;
    animation: hover 4s linear infinite alternate;
}
.skeleton-text:last-child{
    width: 130px;
}
@keyframes hover{
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}
.first-section{
    display: flex;
}
#left-row{
    display: block;
    margin-left: 35px;
    width: 50px;
}
#left-row img{
    width: 30px;
    margin-top: 14px;
}
#right-row{
    display: block;
    margin-left: 15px;
}
#right-row p{
  margin-top: 25px;
  font-size: 18px;
  color: gray;
}
#right-row p:first-child{
    color: #f44336;
}
.second-section{
    display: flex;
}
#left-content h4{
    font-size: 16px;
    margin-top: 15px;
    text-align: left;
    margin-left: 25px;
}
#different{
    width: 50px;
    display: block;
    margin-left: 30px;
}
#different img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 12px;
}
.gray{
    color: gray;
}
#right-dif-row{
    margin-top: 15px;
    margin-left: 15px;
    display: block;
}
#right-dif-row p{
    margin-bottom: 25px;
    font-size: 18px;
}
.disappear{
    width: 40%;
}
/*-----You-tube-video----------*/
.you-tube-section{
    display: flex;
    margin-top: 15px;
}
.you-tube-left{
    flex-basis: 70%;
    margin-left: 20px;
}
.you-tube-right{
    flex-basis: 30%;
    margin-left: 15px;
    top: 5%;
    right: 5px;
    position: sticky;
    height: 130vh;
}
.you-tube-left p{
    color: blue;
    font-size: 17px;
    margin-top: 8px;
}
.views{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.views small{
    color: gray;
    font-size: 15px;
}
.like-section{
    display: flex;
    margin-right: -6px;
}
.like-image{
    display: flex;
    margin-right: 8px;
}
.like-image img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.like-image small{
    margin-top: 2px;
}
.youtube-line{
    width: 100%;
    margin-top: 20px;
    font-weight: 300;
}
.comment-section{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 10px 3px;
}
.left-first-side{
    display: flex;
}
.left-first-side img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
}
.youtube-account{
    display: block;
}
.youtube-account h4{
    font-size: 19px;
    font-weight: bold;
}
.comment-section a{
    font-size: 17px;
    background: #f44336;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 12px 40px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}
.posts{
    display: block;
    margin-left: 50px;
}
.special{
    width: 94%;
    margin-top: 10px;
    margin-left: 50px;
}
.you-tube-left h5{
    font-size: 16px;
    margin-left: 50px;
    margin-top: 10px;
}
.bottom-comments{
    margin-left: 52px;
    margin-top: 20px;
    display: block;
}
.first-column{
    display: flex;
}
.first-column img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.first-column textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
    resize: none;
    width: 100%;
    outline: none;
    margin-left: 5px;
}
.second-column{
    margin-top: 30px;
    display: flex;
}
.second-column img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-info{
    display: block;
    margin-left: 7px;
}
.title{
    display: flex;
    justify-content: left;
}
.title h4{
    font-size: 18px;
}
.title h6{
    font-size: 14px;
    margin-left: 10px;
    margin-top: -9px;
}
.comment-info h6{
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}
.reply-section{
    display: flex;
    margin-top: 15px;
}
.likes{
    display: flex;
    margin-left: 10px;
}
.likes img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.likes small{
    font-size: 15px;
}
.reply-section h3{
    font-size: 17px;
    margin-left: 10px;
    font-weight: 300;
}
.reply-section a{
    color: blue;
    margin-left: 10px;
    text-decoration: none;
}
.you-tube-right-content{
    display: flex;
    margin-bottom: 15px;
}
.you-tube-right-content img{
    width: 60%;
    margin-right: 7px;
}
.you-tube-right-info{
    display: block;
    text-align: left;
}
.you-tube-right-info span{
    color: gray;
    font-size: 15px;
}
/*------preloader---------*/
#preloader{
    background: #fff url(/Images/images/Preloader.gif) center center no-repeat;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: 20%;
    position: fixed;
    z-index: 100;
}

.login-content{
    display: flex;
    margin-top: 10px;
}
.login-left-content{
    flex-basis: 35%;
    margin-left: 15px;
    height: 100vh;
}
.login-right-content{
    flex-basis: 55%;
}
.textbox{
    top: 55%;
    left: 30px;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    line-height: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}
.textbox h1{
    font-size: 35px;
}
.slider{
    margin-left: 15px;
    color: #f44336;
    font-size: 42px;
    animation: slide 6s linear infinite;
}
@keyframes slide{
    0%{
        margin-top: -400px;
    }
    5%{
        margin-top: -200px;
    }
    10%{
        margin-top: -200px;
    }
    30%{
        margin-top: 0px;
    }
    50%{
        margin-top: 0px;
    }
    70%{
        margin-top: 200px;
    }
    100%{
        margin-top: 200px;
    }
}
.login-form{
    top: 55%;
    right: 130px;
    background: #2e2d2c;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    transform: translateY(-50%);
    overflow: hidden;
}
.login-form img{
    width: 50%;
    margin-left: 20%;
    margin-top: 15px;
}
.image-part{
    background: #f44336;
    width: 100%;
}
.links{
    display: flex;
    margin-left: 23%;
    margin-top: 15px;
}
.links span{
    margin-left: 20px;
    color: #fff;
    font-size: 19px;
}
.login-form form{
    max-width: 300px;
    position: absolute;
    margin-left: 13%;
    margin-top: 5%;
    transition: 1s;
}
form input{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
}
#RegisterForm{
    left: -300px;
}
form button{
    margin-top: 15px;
    margin-left: 5%;
    background: #f44336;
    padding: 12px 39px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #fff;
}